
.navigation {
	background-color: #008AC2;
	height: 2.1825em;
}

.section1{
	background-color: #344052;
	height: 34.125em;
}

.s1p1 {
	background-color: #344052;
	font-size: 2.25em;
	text-align: center;
	margin-top: 0em;
	padding-top: 4.375em;
	color: white;
}

.s1p2 {
	background-color: #344052;
	font-size: 1em;
	text-align: center;
	margin-top: 1em;
	color: white;
}

.button{
	background-color: #118BC0;
	height: 4.625em;
	width: 14.375em;
	margin: 1em auto 1em;
	border: .5em solid #000000;
}

.arrow{
	background-color: #FFFFFF;
	height: 1em;
	width: 1em;
	margin: .5em auto .5em auto;

}

.website {
	background-color: #FFFFFF;
	height: 2em;
	width: 2em;
	display: inline-block;
	margin: 1em auto 1em auto;
}

.blog {
	background-color: #FFFFFF;
	height: 2em;
	width: 2em;
	display: inline-block;
	margin: 1em auto 1em auto;
}

.discovery {
	background-color: #FFFFFF;
	height: 2em;
	width: 2em;
	display: inline-block;
	margin: 1em auto 1em auto;
}


.div1{
	background-color: #E8F0F5;
	height: 13.75em;
}


.section2{
	background-color: #D1D3D7;
	height: 36.125em;
}

.feature {
	background-color: #FFFFFF;
	height: 13em;
	width: 18.875em;
	margin-top: 1.875em;
	display: inline-block;

}



.section3{
	background-color: #E8F0F5;
	height: 35.25em;
}

.create {
	background-color: #118BC0;
	height: 3em;
	margin: 0em auto 0em auto; 
	width: 13.1875em;
}

.section4 {
	background-color: #000000;
	height: 8.125em;
}